body {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Barlow", sans-serif;
  border: 0;
  font-size: 100%;
  overflow-x: hidden;
  max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #242942;
}

.grey-login {
  color: #a0a1ac;
}

.black-btn {
  letter-spacing: 0;
  background: #242942;
  color: #eef3f6;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5rem;
  margin-right: 10px;
  display: inline-block;
}

.btn {
  font-size: 12px;
  text-transform: uppercase;
  word-spacing: 3px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-red {
  background: #ff5c5c;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 10px;
}

.btn-white {
  color: #a0a1ac;
  padding-left: 10px;
}

.container {
  width: 375px;
}
.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}
.container header::after {
  content: "";
  width: 50%;
  height: 80vh;
  background-color: #eef3f6;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  border-bottom-left-radius: 64px;
}
.container header .logo img {
  width: 24px;
}
.container header .nav-links {
  position: absolute;
  top: 105px;
  left: -200%;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 85%;
  height: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.container header .nav-links a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.container header .nav-links .line {
  width: 80%;
  height: 2px;
  background-color: #a0a1ac;
}
.container header .active {
  left: 0;
}
.container header .hamburger {
  cursor: pointer;
}
.container header .hamburger .span {
  width: 24px;
  height: 3px;
  background-color: #242942;
  margin: 4px auto;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.container header .active .span:nth-child(2) {
  opacity: 0;
}
.container header .active .span:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
.container header .active .span:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.hero-img {
  width: 100%;
  height: 50vh;
  background: url("../images/illustration-devices.svg") no-repeat;
  background-size: cover;
}
.hero-info {
  padding: 100px 33px 90px 33px;
}
.hero-info h2 {
  padding-top: 60px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 18px;
  color: #a0a1ac;
}
.hero-info h1 {
  font-size: 32px;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 1.2;
}
.hero-info p {
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
  color: #a0a1ac;
}
.hero-info .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  body {
    width: 1440px;
  }

  .container {
    width: 100%;
  }
  .container header::after {
    height: 50vh;
  }
  .container header .hamburger {
    display: none;
  }
  .container header .logo img {
    width: 30px;
    margin-top: 64px;
    margin-left: 164px;
  }
  .container header .nav-links {
    top: 75px;
    left: 1115px;
    background-color: transparent;
    width: 28%;
    height: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container header .nav-links a:hover {
    text-decoration: underline;
  }
  .container header .nav-links .line {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .container .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 164px;
    margin-top: 100px;
  }
  .container .hero-img {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    background: url("../images/illustration-devices.svg") no-repeat;
    background-size: cover;
    margin-right: -600px;
    width: 100vh;
  }
  .container .hero-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container .hero-info h2 {
    padding-top: 0;
    font-size: 18px;
    font-weight: 600;
  }
  .container .hero-info h1 {
    font-size: 53px;
  }
  .container .hero-info p {
    color: #000;
  }
  .container .hero-info .btn-red {
    padding: 15px 28px;
    letter-spacing: -0.1px;
  }
  .container .hero-info .btn-white {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 12px;
    margin-top: 12px;
  }
}
footer {
  padding-top: 115px;
}